<strong>Olá, {{provider}}</strong>
<p>Houve um cancelamento de horário, confira os detalhes abaixo:</p>
<p style="margin-bottom:0px"> <strong>Cliente:</strong> {{user}} </p>
<p style="margin-top:0px"> <strong>Data/hora:</strong> {{date}} </p>
<p>O horário está novamente disponível para agendamento.</p>